<ul class="icons-list topmargin clearfix">
    <li><i class="icon-realestate-advert"></i><span>advert</span></li>
    <li><i class="icon-realestate-air-conditioning"></i><span>air-conditioning</span></li>
    <li><i class="icon-realestate-bag"></i><span>bag</span></li>
    <li><i class="icon-realestate-balance"></i><span>balance</span></li>
    <li><i class="icon-realestate-balcony"></i><span>balcony</span></li>
    <li><i class="icon-realestate-barrow"></i><span>barrow</span></li>
    <li><i class="icon-realestate-bathtub"></i><span>bathtub</span></li>
    <li><i class="icon-realestate-bed"></i><span>bed</span></li>
    <li><i class="icon-realestate-billboard"></i><span>billboard</span></li>
    <li><i class="icon-realestate-box"></i><span>box</span></li>
    <li><i class="icon-realestate-bricks"></i><span>bricks</span></li>
    <li><i class="icon-realestate-bridge"></i><span>bridge</span></li>
    <li><i class="icon-realestate-brush"></i><span>brush</span></li>
    <li><i class="icon-realestate-building-crane"></i><span>building-crane</span></li>
    <li><i class="icon-realestate-building"></i><span>building</span></li>
    <li><i class="icon-realestate-building2"></i><span>building2</span></li>
    <li><i class="icon-realestate-building3"></i><span>building3</span></li>
    <li><i class="icon-realestate-bungalow"></i><span>bungalow</span></li>
    <li><i class="icon-realestate-buying-a-home"></i><span>buying-a-home</span></li>
    <li><i class="icon-realestate-calculator"></i><span>calculator</span></li>
    <li><i class="icon-realestate-calendar"></i><span>calendar</span></li>
    <li><i class="icon-realestate-chair"></i><span>chair</span></li>
    <li><i class="icon-realestate-chair2"></i><span>chair2</span></li>
    <li><i class="icon-realestate-chandelier"></i><span>chandelier</span></li>
    <li><i class="icon-realestate-check"></i><span>check</span></li>
    <li><i class="icon-realestate-china-house"></i><span>china-house</span></li>
    <li><i class="icon-realestate-clip"></i><span>clip</span></li>
    <li><i class="icon-realestate-combination-lock"></i><span>combination-lock</span></li>
    <li><i class="icon-realestate-compasses"></i><span>compasses</span></li>
    <li><i class="icon-realestate-concrete-mixer"></i><span>concrete-mixer</span></li>
    <li><i class="icon-realestate-construction-helmet"></i><span>construction-helmet</span></li>
    <li><i class="icon-realestate-court"></i><span>court</span></li>
    <li><i class="icon-realestate-credit"></i><span>credit</span></li>
    <li><i class="icon-realestate-dialogue"></i><span>dialogue</span></li>
    <li><i class="icon-realestate-doc"></i><span>doc</span></li>
    <li><i class="icon-realestate-doc2"></i><span>doc2</span></li>
    <li><i class="icon-realestate-doc3"></i><span>doc3</span></li>
    <li><i class="icon-realestate-document"></i><span>document</span></li>
    <li><i class="icon-realestate-door"></i><span>door</span></li>
    <li><i class="icon-realestate-door2"></i><span>door2</span></li>
    <li><i class="icon-realestate-drill"></i><span>drill</span></li>
    <li><i class="icon-realestate-eco"></i><span>eco</span></li>
    <li><i class="icon-realestate-elevator"></i><span>elevator</span></li>
    <li><i class="icon-realestate-exchange"></i><span>exchange</span></li>
    <li><i class="icon-realestate-fence"></i><span>fence</span></li>
    <li><i class="icon-realestate-fireplace"></i><span>fireplace</span></li>
    <li><i class="icon-realestate-folder"></i><span>folder</span></li>
    <li><i class="icon-realestate-garage"></i><span>garage</span></li>
    <li><i class="icon-realestate-garage2"></i><span>garage2</span></li>
    <li><i class="icon-realestate-glasses"></i><span>glasses</span></li>
    <li><i class="icon-realestate-hacksaw"></i><span>hacksaw</span></li>
    <li><i class="icon-realestate-hammer"></i><span>hammer</span></li>
    <li><i class="icon-realestate-hangar"></i><span>hangar</span></li>
    <li><i class="icon-realestate-heating"></i><span>heating</span></li>
    <li><i class="icon-realestate-high-voltage"></i><span>high-voltage</span></li>
    <li><i class="icon-realestate-horn"></i><span>horn</span></li>
    <li><i class="icon-realestate-hotel"></i><span>hotel</span></li>
    <li><i class="icon-realestate-hotel2"></i><span>hotel2</span></li>
    <li><i class="icon-realestate-house-key"></i><span>house-key</span></li>
    <li><i class="icon-realestate-house"></i><span>house</span></li>
    <li><i class="icon-realestate-house2"></i><span>house2</span></li>
    <li><i class="icon-realestate-house3"></i><span>house3</span></li>
    <li><i class="icon-realestate-house4"></i><span>house4</span></li>
    <li><i class="icon-realestate-house5"></i><span>house5</span></li>
    <li><i class="icon-realestate-house6"></i><span>house6</span></li>
    <li><i class="icon-realestate-house7"></i><span>house7</span></li>
    <li><i class="icon-realestate-house8"></i><span>house8</span></li>
    <li><i class="icon-realestate-house9"></i><span>house9</span></li>
    <li><i class="icon-realestate-imac"></i><span>imac</span></li>
    <li><i class="icon-realestate-incision-plan"></i><span>incision-plan</span></li>
    <li><i class="icon-realestate-ipad"></i><span>ipad</span></li>
    <li><i class="icon-realestate-key"></i><span>key</span></li>
    <li><i class="icon-realestate-key2"></i><span>key2</span></li>
    <li><i class="icon-realestate-ladder"></i><span>ladder</span></li>
    <li><i class="icon-realestate-lamp"></i><span>lamp</span></li>
    <li><i class="icon-realestate-lawn-mower"></i><span>lawn-mower</span></li>
    <li><i class="icon-realestate-letter"></i><span>letter</span></li>
    <li><i class="icon-realestate-light-bulb"></i><span>light-bulb</span></li>
    <li><i class="icon-realestate-light-bulb2"></i><span>light-bulb2</span></li>
    <li><i class="icon-realestate-lock"></i><span>lock</span></li>
    <li><i class="icon-realestate-lock2"></i><span>lock2</span></li>
    <li><i class="icon-realestate-love"></i><span>love</span></li>
    <li><i class="icon-realestate-mail"></i><span>mail</span></li>
    <li><i class="icon-realestate-map"></i><span>map</span></li>
    <li><i class="icon-realestate-medicine-chest"></i><span>medicine-chest</span></li>
    <li><i class="icon-realestate-mixer"></i><span>mixer</span></li>
    <li><i class="icon-realestate-money"></i><span>money</span></li>
    <li><i class="icon-realestate-moneybox"></i><span>moneybox</span></li>
    <li><i class="icon-realestate-motorhome"></i><span>motorhome</span></li>
    <li><i class="icon-realestate-move"></i><span>move</span></li>
    <li><i class="icon-realestate-move2"></i><span>move2</span></li>
    <li><i class="icon-realestate-music"></i><span>music</span></li>
    <li><i class="icon-realestate-music2"></i><span>music2</span></li>
    <li><i class="icon-realestate-my-house"></i><span>my-house</span></li>
    <li><i class="icon-realestate-my-key"></i><span>my-key</span></li>
    <li><i class="icon-realestate-newspapers"></i><span>newspapers</span></li>
    <li><i class="icon-realestate-nightstand"></i><span>nightstand</span></li>
    <li><i class="icon-realestate-nippers"></i><span>nippers</span></li>
    <li><i class="icon-realestate-notebook"></i><span>notebook</span></li>
    <li><i class="icon-realestate-pan"></i><span>pan</span></li>
    <li><i class="icon-realestate-parking"></i><span>parking</span></li>
    <li><i class="icon-realestate-parquet"></i><span>parquet</span></li>
    <li><i class="icon-realestate-phone"></i><span>phone</span></li>
    <li><i class="icon-realestate-phone2"></i><span>phone2</span></li>
    <li><i class="icon-realestate-phone3"></i><span>phone3</span></li>
    <li><i class="icon-realestate-pipe-wrench"></i><span>pipe-wrench</span></li>
    <li><i class="icon-realestate-plan"></i><span>plan</span></li>
    <li><i class="icon-realestate-plan2"></i><span>plan2</span></li>
    <li><i class="icon-realestate-plan3"></i><span>plan3</span></li>
    <li><i class="icon-realestate-plant"></i><span>plant</span></li>
    <li><i class="icon-realestate-plant2"></i><span>plant2</span></li>
    <li><i class="icon-realestate-point"></i><span>point</span></li>
    <li><i class="icon-realestate-pointer"></i><span>pointer</span></li>
    <li><i class="icon-realestate-printer"></i><span>printer</span></li>
    <li><i class="icon-realestate-purse"></i><span>purse</span></li>
    <li><i class="icon-realestate-purse2"></i><span>purse2</span></li>
    <li><i class="icon-realestate-realtor"></i><span>realtor</span></li>
    <li><i class="icon-realestate-regulator"></i><span>regulator</span></li>
    <li><i class="icon-realestate-rent"></i><span>rent</span></li>
    <li><i class="icon-realestate-rent2"></i><span>rent2</span></li>
    <li><i class="icon-realestate-restaurant"></i><span>restaurant</span></li>
    <li><i class="icon-realestate-roller"></i><span>roller</span></li>
    <li><i class="icon-realestate-roulette"></i><span>roulette</span></li>
    <li><i class="icon-realestate-scale"></i><span>scale</span></li>
    <li><i class="icon-realestate-search"></i><span>search</span></li>
    <li><i class="icon-realestate-secateurs"></i><span>secateurs</span></li>
    <li><i class="icon-realestate-shop"></i><span>shop</span></li>
    <li><i class="icon-realestate-shovel"></i><span>shovel</span></li>
    <li><i class="icon-realestate-shower"></i><span>shower</span></li>
    <li><i class="icon-realestate-skyscrapers"></i><span>skyscrapers</span></li>
    <li><i class="icon-realestate-skyscrapers2"></i><span>skyscrapers2</span></li>
    <li><i class="icon-realestate-socket"></i><span>socket</span></li>
    <li><i class="icon-realestate-spatula"></i><span>spatula</span></li>
    <li><i class="icon-realestate-stamp"></i><span>stamp</span></li>
    <li><i class="icon-realestate-statistic"></i><span>statistic</span></li>
    <li><i class="icon-realestate-suitcase2"></i><span>suitcase2</span></li>
    <li><i class="icon-realestate-swimming-pool"></i><span>swimming-pool</span></li>
    <li><i class="icon-realestate-switch"></i><span>switch</span></li>
    <li><i class="icon-realestate-tag"></i><span>tag</span></li>
    <li><i class="icon-realestate-tap"></i><span>tap</span></li>
    <li><i class="icon-realestate-things"></i><span>things</span></li>
    <li><i class="icon-realestate-time"></i><span>time</span></li>
    <li><i class="icon-realestate-tools"></i><span>tools</span></li>
    <li><i class="icon-realestate-trowel"></i><span>trowel</span></li>
    <li><i class="icon-realestate-tv"></i><span>tv</span></li>
    <li><i class="icon-realestate-vacuum-cleaner"></i><span>vacuum-cleaner</span></li>
    <li><i class="icon-realestate-ventilation"></i><span>ventilation</span></li>
    <li><i class="icon-realestate-washing-machine"></i><span>washing-machine</span></li>
    <li><i class="icon-realestate-window"></i><span>window</span></li>
    <li><i class="icon-realestate-wood"></i><span>wood</span></li>
    <li><i class="icon-line2-user-female"></i><span>user-female</span></li>
    <li><i class="icon-line2-user-follow"></i><span>user-follow</span></li>
    <li><i class="icon-line2-user-following"></i><span>user-following</span></li>
    <li><i class="icon-line2-user-unfollow"></i><span>user-unfollow</span></li>
    <li><i class="icon-line2-trophy"></i><span>trophy</span></li>
    <li><i class="icon-line2-screen-smartphone"></i><span>screen-smartphone</span></li>
    <li><i class="icon-line2-screen-desktop"></i><span>screen-desktop</span></li>
    <li><i class="icon-line2-plane"></i><span>plane</span></li>
    <li><i class="icon-line2-notebook"></i><span>notebook</span></li>
    <li><i class="icon-line2-moustache"></i><span>moustache</span></li>
    <li><i class="icon-line2-mouse"></i><span>mouse</span></li>
    <li><i class="icon-line2-magnet"></i><span>magnet</span></li>
    <li><i class="icon-line2-energy"></i><span>energy</span></li>
    <li><i class="icon-line2-emoticon-smile"></i><span>emoticon-smile</span></li>
    <li><i class="icon-line2-disc"></i><span>disc</span></li>
    <li><i class="icon-line2-cursor-move"></i><span>cursor-move</span></li>
    <li><i class="icon-line2-crop"></i><span>crop</span></li>
    <li><i class="icon-line2-credit-card"></i><span>credit-card</span></li>
    <li><i class="icon-line2-chemistry"></i><span>chemistry</span></li>
    <li><i class="icon-line2-user"></i><span>user</span></li>
    <li><i class="icon-line2-speedometer"></i><span>speedometer</span></li>
    <li><i class="icon-line2-social-youtube"></i><span>social-youtube</span></li>
    <li><i class="icon-line2-social-twitter"></i><span>social-twitter</span></li>
    <li><i class="icon-line2-social-tumblr"></i><span>social-tumblr</span></li>
    <li><i class="icon-line2-social-facebook"></i><span>social-facebook</span></li>
    <li><i class="icon-line2-social-dropbox"></i><span>social-dropbox</span></li>
    <li><i class="icon-line2-social-dribbble"></i><span>social-dribbble</span></li>
    <li><i class="icon-line2-shield"></i><span>shield</span></li>
    <li><i class="icon-line2-screen-tablet"></i><span>screen-tablet</span></li>
    <li><i class="icon-line2-magic-wand"></i><span>magic-wand</span></li>
    <li><i class="icon-line2-hourglass"></i><span>hourglass</span></li>
    <li><i class="icon-line2-graduation"></i><span>graduation</span></li>
    <li><i class="icon-line2-ghost"></i><span>ghost</span></li>
    <li><i class="icon-line2-game-controller"></i><span>game-controller</span></li>
    <li><i class="icon-line2-fire"></i><span>fire</span></li>
    <li><i class="icon-line2-eyeglasses"></i><span>eyeglasses</span></li>
    <li><i class="icon-line2-envelope-open"></i><span>envelope-open</span></li>
    <li><i class="icon-line2-envelope-letter"></i><span>envelope-letter</span></li>
    <li><i class="icon-line2-bell"></i><span>bell</span></li>
    <li><i class="icon-line2-badge"></i><span>badge</span></li>
    <li><i class="icon-line2-anchor"></i><span>anchor</span></li>
    <li><i class="icon-line2-wallet"></i><span>wallet</span></li>
    <li><i class="icon-line2-vector"></i><span>vector</span></li>
    <li><i class="icon-line2-speech"></i><span>speech</span></li>
    <li><i class="icon-line2-puzzle"></i><span>puzzle</span></li>
    <li><i class="icon-line2-printer"></i><span>printer</span></li>
    <li><i class="icon-line2-present"></i><span>present</span></li>
    <li><i class="icon-line2-playlist"></i><span>playlist</span></li>
    <li><i class="icon-line2-pin"></i><span>pin</span></li>
    <li><i class="icon-line2-picture"></i><span>picture</span></li>
    <li><i class="icon-line2-map"></i><span>map</span></li>
    <li><i class="icon-line2-layers"></i><span>layers</span></li>
    <li><i class="icon-line2-handbag"></i><span>handbag</span></li>
    <li><i class="icon-line2-globe-alt"></i><span>globe-alt</span></li>
    <li><i class="icon-line2-globe"></i><span>globe</span></li>
    <li><i class="icon-line2-frame"></i><span>frame</span></li>
    <li><i class="icon-line2-folder-alt"></i><span>folder-alt</span></li>
    <li><i class="icon-line2-film"></i><span>film</span></li>
    <li><i class="icon-line2-feed"></i><span>feed</span></li>
    <li><i class="icon-line2-earphones-alt"></i><span>earphones-alt</span></li>
    <li><i class="icon-line2-earphones"></i><span>earphones</span></li>
    <li><i class="icon-line2-drop"></i><span>drop</span></li>
    <li><i class="icon-line2-drawer"></i><span>drawer</span></li>
    <li><i class="icon-line2-docs"></i><span>docs</span></li>
    <li><i class="icon-line2-directions"></i><span>directions</span></li>
    <li><i class="icon-line2-direction"></i><span>direction</span></li>
    <li><i class="icon-line2-diamond"></i><span>diamond</span></li>
    <li><i class="icon-line2-cup"></i><span>cup</span></li>
    <li><i class="icon-line2-compass"></i><span>compass</span></li>
    <li><i class="icon-line2-call-out"></i><span>call-out</span></li>
    <li><i class="icon-line2-call-in"></i><span>call-in</span></li>
    <li><i class="icon-line2-call-end"></i><span>call-end</span></li>
    <li><i class="icon-line2-calculator"></i><span>calculator</span></li>
    <li><i class="icon-line2-bubbles"></i><span>bubbles</span></li>
    <li><i class="icon-line2-briefcase"></i><span>briefcase</span></li>
    <li><i class="icon-line2-book-open"></i><span>book-open</span></li>
    <li><i class="icon-line2-basket-loaded"></i><span>basket-loaded</span></li>
    <li><i class="icon-line2-basket"></i><span>basket</span></li>
    <li><i class="icon-line2-bag"></i><span>bag</span></li>
    <li><i class="icon-line2-action-undo"></i><span>action-undo</span></li>
    <li><i class="icon-line2-action-redo"></i><span>action-redo</span></li>
    <li><i class="icon-line2-wrench"></i><span>wrench</span></li>
    <li><i class="icon-line2-umbrella"></i><span>umbrella</span></li>
    <li><i class="icon-line2-trash"></i><span>trash</span></li>
    <li><i class="icon-line2-tag"></i><span>tag</span></li>
    <li><i class="icon-line2-support"></i><span>support</span></li>
    <li><i class="icon-line2-size-fullscreen"></i><span>size-fullscreen</span></li>
    <li><i class="icon-line2-size-actual"></i><span>size-actual</span></li>
    <li><i class="icon-line2-shuffle"></i><span>shuffle</span></li>
    <li><i class="icon-line2-share-alt"></i><span>share-alt</span></li>
    <li><i class="icon-line2-share"></i><span>share</span></li>
    <li><i class="icon-line2-rocket"></i><span>rocket</span></li>
    <li><i class="icon-line2-question"></i><span>question</span></li>
    <li><i class="icon-line2-pie-chart"></i><span>pie-chart</span></li>
    <li><i class="icon-line2-pencil"></i><span>pencil</span></li>
    <li><i class="icon-line2-note"></i><span>note</span></li>
    <li><i class="icon-line2-music-tone-alt"></i><span>music-tone-alt</span></li>
    <li><i class="icon-line2-music-tone"></i><span>music-tone</span></li>
    <li><i class="icon-line2-microphone"></i><span>microphone</span></li>
    <li><i class="icon-line2-loop"></i><span>loop</span></li>
    <li><i class="icon-line2-logout"></i><span>logout</span></li>
    <li><i class="icon-line2-login"></i><span>login</span></li>
    <li><i class="icon-line2-list"></i><span>list</span></li>
    <li><i class="icon-line2-like"></i><span>like</span></li>
    <li><i class="icon-line2-home"></i><span>home</span></li>
    <li><i class="icon-line2-grid"></i><span>grid</span></li>
    <li><i class="icon-line2-graph"></i><span>graph</span></li>
    <li><i class="icon-line2-equalizer"></i><span>equalizer</span></li>
    <li><i class="icon-line2-dislike"></i><span>dislike</span></li>
    <li><i class="icon-line2-cursor"></i><span>cursor</span></li>
    <li><i class="icon-line2-control-start"></i><span>control-start</span></li>
    <li><i class="icon-line2-control-rewind"></i><span>control-rewind</span></li>
    <li><i class="icon-line2-control-play"></i><span>control-play</span></li>
    <li><i class="icon-line2-control-pause"></i><span>control-pause</span></li>
    <li><i class="icon-line2-control-forward"></i><span>control-forward</span></li>
    <li><i class="icon-line2-control-end"></i><span>control-end</span></li>
    <li><i class="icon-line2-calendar"></i><span>calendar</span></li>
    <li><i class="icon-line2-bulb"></i><span>bulb</span></li>
    <li><i class="icon-line2-bar-chart"></i><span>bar-chart</span></li>
    <li><i class="icon-line2-arrow-up"></i><span>arrow-up</span></li>
    <li><i class="icon-line2-arrow-right"></i><span>arrow-right</span></li>
    <li><i class="icon-line2-arrow-left"></i><span>arrow-left</span></li>
    <li><i class="icon-line2-arrow-down"></i><span>arrow-down</span></li>
    <li><i class="icon-line2-ban"></i><span>ban</span></li>
    <li><i class="icon-line2-bubble"></i><span>bubble</span></li>
    <li><i class="icon-line2-camcorder"></i><span>camcorder</span></li>
    <li><i class="icon-line2-camera"></i><span>camera</span></li>
    <li><i class="icon-line2-check"></i><span>check</span></li>
    <li><i class="icon-line2-clock"></i><span>clock</span></li>
    <li><i class="icon-line2-close"></i><span>close</span></li>
    <li><i class="icon-line2-cloud-download"></i><span>cloud-download</span></li>
    <li><i class="icon-line2-cloud-upload"></i><span>cloud-upload</span></li>
    <li><i class="icon-line2-doc"></i><span>doc</span></li>
    <li><i class="icon-line2-envelope"></i><span>envelope</span></li>
    <li><i class="icon-line2-eye"></i><span>eye</span></li>
    <li><i class="icon-line2-flag"></i><span>flag</span></li>
    <li><i class="icon-line2-folder"></i><span>folder</span></li>
    <li><i class="icon-line2-heart"></i><span>heart</span></li>
    <li><i class="icon-line2-info"></i><span>info</span></li>
    <li><i class="icon-line2-key"></i><span>key</span></li>
    <li><i class="icon-line2-link"></i><span>link</span></li>
    <li><i class="icon-line2-lock"></i><span>lock</span></li>
    <li><i class="icon-line2-lock-open"></i><span>lock-open</span></li>
    <li><i class="icon-line2-magnifier"></i><span>magnifier</span></li>
    <li><i class="icon-line2-magnifier-add"></i><span>magnifier-add</span></li>
    <li><i class="icon-line2-magnifier-remove"></i><span>magnifier-remove</span></li>
    <li><i class="icon-line2-paper-clip"></i><span>paper-clip</span></li>
    <li><i class="icon-line2-paper-plane"></i><span>paper-plane</span></li>
    <li><i class="icon-line2-plus"></i><span>plus</span></li>
    <li><i class="icon-line2-pointer"></i><span>pointer</span></li>
    <li><i class="icon-line2-power"></i><span>power</span></li>
    <li><i class="icon-line2-refresh"></i><span>refresh</span></li>
    <li><i class="icon-line2-reload"></i><span>reload</span></li>
    <li><i class="icon-line2-settings"></i><span>settings</span></li>
    <li><i class="icon-line2-star"></i><span>star</span></li>
    <li><i class="icon-line2-symbol-female"></i><span>symbol-female</span></li>
    <li><i class="icon-line2-symbol-male"></i><span>symbol-male</span></li>
    <li><i class="icon-line2-target"></i><span>target</span></li>
    <li><i class="icon-line2-volume-1"></i><span>volume-1</span></li>
    <li><i class="icon-line2-volume-2"></i><span>volume-2</span></li>
    <li><i class="icon-line2-volume-off"></i><span>volume-off</span></li>
    <li><i class="icon-line2-users"></i><span>users</span></li>
</ul>
