
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPropertyUser.cshtml";
}

<!-- Content
    ============================================= -->
<section id="content">
    <div class="content-wrap p-0">
        ssss
    </div>
</section><!-- #content end -->