@model Turista.Data.Resorts.Resort
@{
    Layout = "~/Views/Shared/_LayoutPropertyUser.cshtml";
    if (string.IsNullOrEmpty(Model.Name))
    {
        ViewBag.Title = lang.NewResorts;
    }
    else
    {
        ViewBag.Title = Model.Name;
    }

}
<section id="content">
    <div class="content-wrap p-0 mt-5">
        <div class="container clearfix">
            <div id="side-navigation" class="row">

                <div class="col-md-6 col-lg-4">
                    <partial name="_resortMenu" model="Model" />
                </div>

                <div class="col-md-6 col-lg-8">
                    <div id="resortInfo">
                        @if (Model.ResortImages.Any())
                        {
                            var img = Url.Content("~/" + Domain.Properties.GetResortDefaultImage(context, Model.Id));
                            <img src="@img" class="alignleft img-thumbnail my-0" style="max-width: 84px;">
                        }

                        <div class="heading-block border-0">
                            <h3>@ViewBag.Title</h3>
                            @if (string.IsNullOrEmpty(Model.Name))
                            {
                                <span>@lang.AddNewResorts</span>
                            }
                            else
                            {
                                <span>@lang.UpdateYourResorts</span>
                            }
                        </div>
                        <partial name="_resortForm" model="Model" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section js{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMvk54X0cJtOPiSu60rk-OdX8alzz7Htk&callback=initMap"
            type="text/javascript"></script>
    <script>
        $("#propInfo").addClass("ui-tabs-active ui-state-active");

        function closeToSea(isClose) {
            if (isClose) {
                $("#seaArea").removeClass("d-none");
            } else {
                $("#seaArea").addClass("d-none");
            }
        }


        let map, infoWindow;


        function initMap() {
            image = 'http://maps.google.com/mapfiles/kml/paddle/wht-circle.png';
            var option = {
                center: { lat: 0, lng: 0 },
                zoom: 12,
                mapTypeId: "satellite",
                panControl: true,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.TOP_left
                }
            };
            map = new google.maps.Map(document.getElementById("gmap"), option);

            var postion = new google.maps.LatLng(0, 0);
            if ($("#Latitude").val() !== "") {
                var l = (Number($("#Latitude").val())).toFixed(5);
                var n = (Number($("#Longitude").val())).toFixed(5);
                postion = new google.maps.LatLng(l, n);
                console.log(new google.maps.LatLng(l, n));
                var marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                    position: postion
                });
                marker.setPosition(postion);
                map.panTo(postion);
            } else {
                var marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                    position: { lat: 0, lng: 0 },
                });
            }



            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(map, 'click', function (event) {
                //alert(event.latLng.lat());
                //$('.MapLon').val(event.latLng.lng());
                infowindow.close();
                moveMarker(event.latLng.lat(), event.latLng.lng());
            });

            function moveMarker(lat, lng) {
                var latlng = new google.maps.LatLng(lat, lng);
                marker.setIcon(image);
                marker.setPosition(latlng);
                infowindow.setContent(latlng + "");
                infowindow.open(map, marker);
                $("#Latitude").val(lat);
                $("#Longitude").val(lng);
            }
        }
    </script>
}